#!/usr/bin/make -f
export DH_VERBOSE=1
PACKAGE = $(shell dh_listpackages)
TMP     = $(CURDIR)/debian/$(PACKAGE)

%:
	dh $@  --with autotools-dev

override_dh_auto_install:
	mkdir -p $(TMP)/usr/bin
	cp vit $(TMP)/usr/bin/vit
	mkdir -p $(TMP)/etc
	cp commands $(TMP)/etc/vit-commands

override_dh_auto_test:
